.card {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 150px;
  max-width: 150px;
  display: table-cell;
}

.layout {
  background-color: green;
}
/* .cardLayout {
  background-color: purple;
} */
.reqWrapper {
  max-height: 175px;
}
.crown {
  max-width: 25px;
}
