.player__zone {
  background-color: steelblue;
  height: 50%;
  max-height: 50%;
  border: 1px black solid;
}

.player__jewels {
  font-size: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}
